absl-py
attrs
blinker
cffi
click
contourpy
cycler
Flask
flatbuffers
fonttools
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
numpy
opencv-contrib-python
packaging
Pillow
protobuf
pycparser
pyparsing
python-dateutil
six
sounddevice
Werkzeug
